body {
  font-family: Arial;
  text-align: center;
  background: #0f172a;
  color: white;
  padding: 20px;
}
.card {
  background: #1e293b;
  padding: 20px;
  border-radius: 12px;
  max-width: 500px;
  margin: auto;
}
button {
  padding: 10px 20px;
  border: none;
  background: #38bdf8;
  color: black;
  border-radius: 8px;
  cursor: pointer;
}
canvas {
  margin-top: 20px;
}